body {
  margin: 0;
  background-image: url(Images/des.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: 0 60px;
}

#main-title {
  margin: 10px 0 0 0;
  text-align: center;
  font-size: 40px;
}

#main-image {
  width: 365px;
  height: auto;
  margin-top: 5px;
}

#main-section {
  display: flex;
}

#about {
  color: white;
  padding: 50px 30px;
  text-align: justify;
}
