body {
  margin: 0;
  background-image: url(Images/des.jpeg);
  background-repeat: no-repeat;
  background-size: 100% 500px;
  background-position: 0 60px;
}
#main-image {
  width: 370px;
  height: auto;
  margin-top: 60px;
}
